form{
	
 
  margin: 12%;
  width: 30%;
  padding: 10px;
  right: 20px;
  color: blue;

  
 
}
html{
	overflow: hidden; 
}


/*Înregistrează-te*/


.reg{   

        position: absolute;
		top: 120px;
        right: 200px;
		width:500px;
		height: 300px;
		padding: 10px;
		
		
		
		
		
}
/*titlul reg*/

.treg{
	    position: absolute;
		top:30px;
        right: 190px;
		width:500px;
		height: 300px;
		padding: 10px;
	    color: blue;
		border:2px  solid white;
		border-radius:25px 25px ;
		background-color:white;
	 
}
/*border Autentificare*/
.blog{
	  border: 100px solid blue;
	  
	
	  padding: 20px;
	
	  border-image: url(Imagini/stele.jpg) 30 stretch ;
	  
	  
	   
	  
}
.titlu{
	position: absolute;
	top: 200px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;

	
}
/*separtor intre login si  register*/
.sep{
	
	border-left: 6px solid green;
    height: 480px;
    position: absolute;
    left: 50%;
    margin-left: 20px;
    top: 155px;
	
}

	
	